# Always enable colored `grep` output

# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Get OS X Software Updates
alias update_system='sudo softwareupdate -i -a'

# Update/upgrade Homebrew and their installed packages
alias update_brew='brew update; brew upgrade; brew upgrade --cask; brew cleanup'

# pre-commit
alias pci="pre-commit install"
alias pcu="pre-commit uninstall"
alias pca="pre-commit autoupdate"

# AWS CLI Profile Selector
ap() {
    profile=${1:-}
    if [[ -z "$profile" ]]; then
        profile=$(aws configure list-profiles | fzf)
    fi
    export AWS_PROFILE="$profile"
}

# Databricks CLI Profile Selector
dp() {
    profile=${1:-}
    if [[ -z "$profile" ]]; then
        profile=$(databricks auth profiles | awk 'NR>1 {print $1}' | fzf)
    fi
    export DATABRICKS_CONFIG_PROFILE="$profile"
}

# Delete Merged Branches
gbda() {
    git switch main
    git pull
    git fetch -p && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs git branch -D
}

# thefuck
eval $(thefuck --alias)

# Terramate
alias trc="terramate run --changed"
alias trci="terramate run --changed terraform init"
alias trcp="terramate run --changed terraform plan --out plan.tfplan"
alias trca="terramate run --changed terraform apply plan.tfplan "

# claude-mem
alias claude-mem='bun "/Users/jacob.hurlburt/.claude/plugins/marketplaces/thedotmack/plugin/scripts/worker-service.cjs"'
